---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CategoryCard from '../components/CategoryCard.astro';

const resourcesCategories = [
	{
	name: 'HTML',
	link:'/resources/html'
	},
	{
	name: 'CSS',
	link:'/resources/css'
	},
	{
	name: 'UI',
	link:'/resources/ui'
	},
	{
	name: 'React',
	link:'/resources/react'
	},
	{
	name: 'APIs',
	link:'/resources/api'
	},
	{
	name: 'Ideas',
	link:'/resources/ideas'
	},
]

---

<Layout title="My Personal Resources">
	<main class="flex flex-col mx-auto w-full">		
		<h1 class="text-black text-5xl my-5 dark:text-white text-center">Welcome to my personal resources</h1>
		<p class="text-black mb-4 dark:text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, ea? </p>
		<ul class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] justify-center gap-3 w-full mx-auto">
			{resourcesCategories.map(category=>(
				<CategoryCard 
					name={category.name}
					link={category.link}
				/>
			
			))}
		</ul>
	</main>
</Layout>

<style>	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
</style>
