---

import Layout from '../layouts/Layout.astro';

import CategoryCard from '../components/CategoryCard.astro';

import aiSvg from '../assets/svg/ai.svg';
import apiSvg from '../assets/svg/api.svg';
import cssSvg from '../assets/svg/css.svg';
import challengeSvg from '../assets/svg/challenge.svg';
import cheatsheetsSvg from '../assets/svg/cheatsheets.svg';
import htmlSvg from '../assets/svg/html.svg';
import ideasSvg from '../assets/svg/ideas.svg';
import imgSvg from '../assets/svg/image.svg';
import interviewSvg from '../assets/svg/mic.svg';
import learningSvg from '../assets/svg/learning.svg';
import jsSvg from '../assets/svg/js.svg'
import reactSvg from '../assets/svg/react.svg';
import toolsSvg from '../assets/svg/tools.svg';
import uiSvg from '../assets/svg/ui.svg';

const resourcesCategories = [
	{
	name: 'HTML',
	link:'/resources/html',
	image: htmlSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'CSS',
	link:'/resources/css',
	image: cssSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'UI',
	link:'/resources/ui',
	image: uiSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'React',
	link:'/resources/react',
	image: reactSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'APIs',
	link:'/resources/api',
	image: apiSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'Ideas',
	link:'/resources/ideas',
	image: ideasSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'Coding Tools',
	link:'/resources/code-tools',
	image: toolsSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'JavaScript',
	link:'/resources/javascript',
	image: jsSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'Images Resources',
	link:'/resources/images-res',
	image: imgSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'Interview Resources',
	link:'/resources/interview',
	image: interviewSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'Challenges',
	link:'/resources/challenges',
	image: challengeSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'Learning',
	link:'/resources/learning',
	image: learningSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'CheatSheets',
	link:'/resources/cheatsheets',
	image: cheatsheetsSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
	{
	name: 'AI',
	link:'/resources/ai',
	image: aiSvg.src,
	description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat est vitae risus ullamcorper euismod. Quisque et justo nec nunc viverra feugiat. Nunc ac enim vel nunc ullamcorper posuere. Donec.',
	},
]
---

<Layout title="My Personal Resources" >
	<div class="flex flex-col mx-auto w-full max-sm:w-[90%]">		
		<h1 class="text-black text-5xl font-extrabold my-5 dark:text-white text-center max-sm:text-4xl">Welcome to my personal resources</h1>
		<p class="text-black text-xl mb-4 dark:text-white text-center max-sm:text-base">On this personal webpage, you'll find a curated selection of valuable resources that I've collected over time. These items have been carefully chosen for their informative and inspirational qualities. Feel free to explore and benefit from this collection, just as I have.</p>
		<ul class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] justify-center gap-3 w-full mx-auto max-sm:grid-cols-1">
			{resourcesCategories.map(category=>(
				<CategoryCard 
					name={category.name}
					link={category.link}
					image={category.image}
					description={category.description}
				/>				
			))}
		</ul>
	</div>
</Layout>