---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
const apiItems = await Astro.glob('../../content/apis/*.md')
---

<Layout title="APIS Resources">
    <main>
        <h1 class="text-black text-center font-extrabold text-5xl dark:text-white ">API page</h1>
        <ul class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr));] max-sm:grid-cols-1 max-sm:gap-3 max-sm:justify-center"> 
            {apiItems.map(item=>(
                <Card 
                    title={item.frontmatter.title}
                    description={item.frontmatter.description}
                    link={item.frontmatter.link}
                    image={ item.frontmatter.imageURL!== undefined ? item.frontmatter.imageURL : 'https://res.cloudinary.com/dc6mrv5cb/image/upload/v1697022104/personal-resources/html/html-css-js.com_html_generator__octr4j.png' }
                />
            ))}
        </ul>
    </main>
</Layout>