---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import CategoryTitle from '../../components/CategoryTitle.astro';

const coursesItems = await Astro.glob('../../content/courses/*.md')
---

<Layout title="Courses">
    <main>
        <CategoryTitle title="Courses" />
        <ul class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr));] gap-4 my-0 max-sm:grid-cols-1 max-sm:gap-3 max-sm:justify-center"> 
            {coursesItems.map(item=>(
                <Card 
                    title={item.frontmatter.title}
                    description={item.frontmatter.description}
                    link={item.frontmatter.link}
                    image={ item.frontmatter.imageURL!== undefined ? item.frontmatter.imageURL : 'https://res.cloudinary.com/dc6mrv5cb/image/upload/v1697022104/personal-resources/html/html-css-js.com_html_generator__octr4j.png' }
                />
            ))}
        </ul>
    </main>
</Layout>