---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
const htmlItems = await Astro.glob('../../content/html/*.md')
---

<Layout title="HTML Resources">
    <main>
        <h1 class="text-black text-center font-extrabold text-5xl dark:text-white ">HTML page</h1>
        <ul class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr));]"> 
            {htmlItems.map(item=>(
                <Card 
                    title={item.frontmatter.title}
                    description={item.frontmatter.description}
                    link={item.frontmatter.link}
                    image={item.frontmatter.imageURL}
                />
            ))}
        </ul>
    </main>
</Layout>