---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import CategoryTitle from '../../components/CategoryTitle.astro';

const reactItems = await Astro.glob('../../content/react/*.md')
---

<Layout title="React Resources">
    <main>
        <CategoryTitle title="React Resources" />
        <ul class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr));] gap-2 my-10 max-sm:grid-cols-1 max-sm:gap-3 max-sm:justify-center"> 
            {reactItems.map(item=>(
                <Card 
                    title={item.frontmatter.title}
                    description={item.frontmatter.description}
                    link={item.frontmatter.link}
                    image={ item.frontmatter.imageURL!== undefined ? item.frontmatter.imageURL : 'https://res.cloudinary.com/dc6mrv5cb/image/upload/v1697022104/personal-resources/html/html-css-js.com_html_generator__octr4j.png' }
                />
            ))}
        </ul>
    </main>
</Layout>