---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
const reactItems = await Astro.glob('../../content/react/*.md')
console.log(reactItems[0].frontmatter)
---

<Layout title="React Resources">
    <main>
        <h1 class="mt-7 text-black text-center font-extrabold text-5xl dark:text-white ">react page</h1>
        <ul class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr));] gap-2 my-10"> 
            {reactItems.map(item=>(
                <Card 
                    title={item.frontmatter.title}
                    description={item.frontmatter.description}
                />
            ))}
        </ul>
    </main>
</Layout>