---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
const uiItems = await Astro.glob('../../content/ui-stuff/*.md')
// console.log(cssItems)
---

<Layout title="UI Resources">
    <main>
        <h1 class="mt-7 text-black text-center font-extrabold text-5xl dark:text-white ">ui page</h1>
        <ul class="grid grid-cols-[repeat(auto-fit,minmax(400px,1fr));] gap-2 my-10"> 
            {uiItems.map(item=>(
                <Card 
                    title={item.frontmatter.title}
                    description={item.frontmatter.description}
                />
            ))}
        </ul>
    </main>
</Layout>