---
const { link, name, image, description } = Astro.props;
---

<li class="max-w-sm w-[300px] mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 max-sm:w-full relative md:w-[100%]">
    <a href={link} class="absolute top-0 left-0 w-full h-full hover:bg-gray-300 dark:hover:bg-gray-700 hover:opacity-30 rounded-lg"></a>
    <img class="mx-auto" src={image} alt={`Image of the ${name} resources category`}/>
    <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{name}</h5> 
</li>
