<footer
   class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 mt-6"
>
   <div
      class="max-w-[1300px] mx-auto min-h-fit py-6 flex items-center justify-center"
   >
      <h1 class="text-center dark:text-white">
         Made with ❤️ by <a
            href="https://github.com/faustocalvinio"
            class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"
            target="_blank">Fausto Calviño</a
         >. Built with Astro , TailwindCSS , Flowbite and Tabler Icons.
      </h1>
   </div>
</footer>
