<footer class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="max-w-[1300px] mx-auto min-h-fit pt-5 pb-[80px] mt-5">
        <h1 class="dark:text-white">Welcome to my personal resources</h1>

    </div>
</footer>