<footer class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 mt-6">
    <div class="max-w-[1300px] mx-auto min-h-fit pt-6 pb-4 flex items-center justify-center">
        <h1 class="text-center dark:text-white">Made with ❤️ by Fausto Calviño</h1>.
    </div>
</footer>